# MongoDB
MONGO_INITDB_ROOT_USERNAME=change_me
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_DATABASE=velov_weather
MONGO_PORT=27017

# MinIO
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8080